<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VibeTune Musics</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <script src="{{ url_for('static', filename='static/scripts.js') }}"></script>
</head>
<body>

    <header class="header">
        <div class="logo-container">
            <p class="logo">VibeTune <span class="highlighted">Musics</span></p>
        </div>
    </header>

    <section class="content">
        <div class="intro">
            <p>Welcome to VibeTune Musics! Explore the best tunes for your mood.</p>
        </div>

        <div class="song-list">
            {% for song in songs %}
            <div class="song-item">
                <h3>{{ song[1] }}</h3>
                <p>Artist: {{ song[2] }}</p>
                <p>Album: {{ song[3] }}</p>
                {% if song[4] %}
                <a href="{{ song[4] }}" class="listen-now" target="_blank">Listen Now</a>
                {% else %}
                    <a href="https://www.youtube.com/results?search_query={{ song[1]|replace(' ', '+') }}+{{ song[2]|replace(' ', '+') }}+official+audio" class="listen-now">Listen Now</a>
                {% endif %}            </div>
                {% endfor %}
        </div>
    </section>

    <footer>
        <p>&copy; 2025 VibeTune Musics. All rights reserved.</p>
    </footer>
</body>
</html>